@import url('./../../../assets/_styling.css');

.searchBox {
	display: grid;
	grid-template-columns: 0fr 1fr;
	align-items: center;
	padding: 0rem 0.5rem;
	background: var(--light-grey);
	border-radius: 1rem;
}
