@import url('./../../../assets/_styling.css');

.home {
	background: var(--grey);
	padding: 0rem 1rem;
	padding-bottom: 1rem;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 1rem;
}

.grids {
	background: var(--grey);
	display: grid;
	grid-template-columns: repeat(6, 2fr);
	padding:1rem;
	grid-template-rows: 1fr 3fr 3fr 3fr 3fr;
	grid-template-areas: 
						"search search search . . ."
						"sales sales sales sales notifications notifications"
						"sales sales sales sales notifications notifications"
						"notepad notepad graphs thisMonth notifications notifications"
						"notepad notepad inbox lastMonth . .";
	grid-gap: 1em;
}

.search {
	grid-area: search;
	display: grid;
	align-items: center;
}

.sales {
	grid-area: sales;
	display: grid;
	align-items: center;
}

.notepad {
	grid-area: notepad;
	display: grid;
	align-items: center;
	position: relative;
}

.graphs {
	grid-area: graphs;
}

.inbox {
	grid-area: inbox;
}

.thisMonth {
	grid-area: thisMonth;
}

.lastMonth {
	grid-area: lastMonth;
}

.notifications {
	display: grid;
	grid-area: notifications;
}

.popup {
	position: absolute;
	right: 0rem;
	bottom: 7rem;
	width: 70%;
}

@media only screen and (max-width: 767px) {
	.home {
		background: var(--grey);
		padding: 1rem;
		padding-bottom: 5rem;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 0.5rem;
	}
	.grids {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 30px 300px 260px 150px 100px auto;
		grid-template-areas: 
						"search search"
						"sales sales"
						"notepad notepad"
						"graphs inbox"
						"thisMonth lastMonth" 
						"notifications notifications";
	}	
}

@media only screen and (max-width: 567px) {
	.home {
		padding: 1rem 0;
		padding-bottom: 5rem;
		height: 100%;
		grid-template-columns: 1fr;
		grid-column-gap: 0.5rem;
	}
}