@import url('./../../../assets/_styling.css');

.text {
	color: var(--white);
	font-family: var(--regular);
	font-size: 1.4rem;
	font-weight: 600;
}

.small {
	font-size: 0.8rem;
	font-weight: 100;
}

.normal {
	font-size: 1rem;
	font-weight: 400;
}

.medium {
	font-size: 1.2rem;
	font-weight: 200;
}

.large {
	font-size: 1.4rem;
	font-weight: 100;
}

.bold {
	font-size: 1.2rem;
	font-weight: 500;
}

.heading--grey {
	color: var(--light-grey);
	padding: 0.1rem 0.2rem;
}

.heading--brown {
	padding: 0.1rem 0.2rem;
	color: var(--brown);
}

.heading--white {
	color: var(--white);
	padding: 0.1rem 0.2rem;
}